fastapi
uvicorn[standard]
google-genai
python-dotenv
pydantic-settings 
langchain-community 
pypdf 
langchain-google-genai 
langchain-chroma>=0.1.2  # Refer langchain docs for newer version
langchain-mistralai